@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

:root {
    --clr-main: #ddd000; 
    --clr-withe: #ececec;
    --clr-gray: #e2e2e2;
    --clr-darkgray: #757575;
    --clr-black: #070707;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h4, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-withe);
}

/* aside */

aside {
    background-image: url(../img/KARMAfondo.jpg);
    background-position: center;
    background-size: cover;
    background-color: var(--clr-darkgray);
    background-blend-mode: multiply;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--clr-withe);
}

.logo {
    font-family: 'UnifrakturCook';
    font-weight: 400;
    font-size: 2rem;
    color: var(--clr-withe);
    padding: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-withe);
    font-size: 1rem;
    text-align: start;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    transition: transform .2s;
}

.boton-menu:hover {
    transform: scale(1.1);
}

.boton-menu.active {
    color: var(--clr-main);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-withe);
    color: var(--clr-black);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-categoria{
    position: relative;
}

.boton-categoria::before{
    content: "";
    position: absolute;
    top: 80%;
    left: 3rem;
    width: 70%;
    height: .20rem;
    background-color: var(--clr-withe);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .2s ease-out;
}

.boton-categoria:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.boton-categoria.active::before{
    background-color: var(--clr-main);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
}

.texto-footer {
    color: var(--clr-withe);
    font-size: 1rem;
}

.bi-instagram, .bi-whatsapp {
    color: var(--clr-withe);
    font-size: 1rem;
}

.redes {
    display: flex;
    gap: 1rem;
}

.redes li:hover {
    transform: scale(1.2);
}

.redes li{
    transition: transform .2s;
}

/* main */

main {
    background-color: var(--clr-withe);
    margin-left: 0;
    padding: 2rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    z-index: 1;
    background-color: var(--clr-main);
    color: var(--clr-withe);
    padding: .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
}

.producto-detalles::before{
    z-index: -1;
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--clr-main);
}

.producto-titulo {
    font-size: 1rem;
}

.producto-informacion {
    display: flex;
    justify-content: space-between;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-withe);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-withe);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-withe);
}

/* carrito */

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-titulo {
    display: flex;
    justify-content: space-between;
    width: 185px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: help;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .90rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    font-size: 1rem;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--clr-withe);
    text-transform: uppercase;
    cursor: pointer;
    transition: transform .2s, border-radius .2s;
}

.carrito-acciones-comprar:hover {
    transform: scale(1.1);
    border-radius: 1rem;
}

.disabled {
    display: none;
}

/* responsive */

.header-mobile {
    display: none;
}

.menu-hamburguesa-cerrar{
    display: none;
}

.footer-mobile {
    display: none;
}

@media screen and (max-width: 1300px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 950px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .carrito-producto {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr .5fr;
        gap: .5rem;
    }

    .carrito-producto-imagen {
        width: 5rem;
    }

    .carrito-producto-titulo {
        justify-items: end;
        width: auto;
        grid-column: 2 / -1;
        grid-row: 1 / 1;
    }

    .carrito-producto-eliminar {
        grid-column: 5 / -1;
        grid-row: 1 / 3;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    aside {
        position: fixed;
        z-index: 2;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        transition: .2s;
        opacity: 0;
        visibility: hidden;
    }

    .aside-active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .logo {
        padding: 1rem;
        padding-left: 2rem;
    }
    
    .header-mobile .logo{
        padding: 0;
    }

    .header-mobile {
        width: 100%;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-main);
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .menu-hamburguesa, .menu-hamburguesa-cerrar {
        background-color: transparent;
        border: 0;
        color: var(--clr-withe);
        font-size: 2rem;
        cursor: pointer;
    }

    .menu-hamburguesa-cerrar {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    footer {
        visibility: hidden;
    }

    .menu {
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .footer-mobile {
        background-color: var(--clr-black);
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        visibility: visible;
        display: flex;
    }

    main {
        min-height: 86.8vh;
    }
}

@media screen and (max-width: 550px) {
    .carrito-acciones-derecha {
        flex-direction: column;
    }

    .carrito-acciones-total {
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }

    .carrito-acciones-comprar {
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
    }

    .carrito-acciones-vaciar {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 452px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}

/* animaciones  */

.header-mobile {
    animation: header-mobile linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
}

@keyframes header-mobile {
    to {
        background: rgba(7, 7, 7, .4);
        backdrop-filter: blur(5px);
        padding: .5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.header-mobile .logo {
    animation: header-mobile-logo linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
}

@keyframes header-mobile-logo {
    to {
        font-size: 1.5rem;
    }
}

.menu-hamburguesa {
    animation: header-mobile-menu linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
}

@keyframes header-mobile-menu {
    to {
        font-size: 1.5rem;
    }
}

.producto {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
}

.carrito-producto {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 2rem;
        scale: .9;
    }
    to {
        opacity: 1;
        translate: 0 0px;
        scale: 1;
    }
}